---
title: Start
layout: lang
---

		<div class="screen">

			<div class="screen-eq1">

				<div class="blocks">
					<div class="block block_works">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="works-item" data-id="001" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«Полимерторг»</span><br/>Сайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS Wordpress.</p>
								</div>
								<figure>
									<img src="../images/work/001.jpg" alt="">
									<figcaption><span>ПолимерТорг</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="002" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«АДАНИ» («ADANISYSTEMS»)</span><br/>Карпаратыўны сайт<br/>Дызайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="../images/work/002.jpg" alt="">
									<figcaption><span>ADAНИ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="003" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«АТЛАНТ»</span><br/>Сайт-візітка<br/>Дызайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="../images/work/003.jpg" alt="">
									<figcaption><span>ATLANT</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="004" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Archosportfolio»</span><br/>Сайт-візітка<br/>Дызайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="../images/work/004.jpg" alt="">
									<figcaption><span>Archosportfolio</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="005" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Graphicdesign»</span><br/>Сайт-візітка<br/>Дызайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="../images/work/005.jpg" alt="">
									<figcaption><span>Graphicdesign</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="006" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«CAIRO ltd & Co»</span><br/>Сайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS Wordpress.</p>
								</div>
								<figure>
									<img src="../images/work/006.jpg" alt="">
									<figcaption><span>Cario</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="007" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«INLETS»</span><br/>Сайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS ModX.</p>
								</div>
								<figure>
									<img src="../images/work/007.jpg" alt="">
									<figcaption><span>INLETS</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="008" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ALSCO Ltd»</span><br/>Сайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS ModX.</p>
								</div>
								<figure>
									<img src="../images/work/008.jpg" alt="">
									<figcaption><span>ALSCO</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="009" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«FRESH & Clean»</span><br/>Сайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS ModX.</p>
								</div>
								<figure>
									<img src="../images/work/009.jpg" alt="">
									<figcaption><span>FRESH &amp; Clean</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="010" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«Domestos»</span><br/>Сайт-візітка<br/>Стварэнне дызайну сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="../images/work/010.jpg" alt="">
									<figcaption><span>Domestos</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="011" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«iGERMANN»</span><br/>Інтэрнэт-крама<br/>Стварэнне дызайну сайта, вёрстка пад CMS ModX.</p>
								</div>
								<figure>
									<img src="../images/work/011.jpg" alt="">
									<figcaption><span>iGERMAN</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="012" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ЗОЛОТАЯ МИЛЯ»</span><br/>Сайт-візітка<br/>Стварэнне дызайну сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="../images/work/012.jpg" alt="">
									<figcaption><span>ЗОЛОТАЯ МИЛЯ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="013" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Magic Dream»</span><br/>Інтэрнэт-крама<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS ModX.</p>
								</div>
								<figure>
									<img src="../images/work/013.jpg" alt="">
									<figcaption><span>Magic Dream</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="014" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«DentalClinic»</span><br/>Сайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS Joomla.</p>
								</div>
								<figure>
									<img src="../images/work/014.jpg" alt="">
									<figcaption><span>DentalClinic</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="015" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«24 Shop»</span><br/>Інтэрнэт-крама<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS ModX.</p>
								</div>
								<figure>
									<img src="../images/work/015.jpg" alt="">
									<figcaption><span>24SHOP.BY</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="016" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«FINESTATE»</span><br/>Сайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка.</p>
								</div>
								<figure>
									<img src="../images/work/016.jpg" alt="">
									<figcaption><span>FINESTATE</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="017" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«AIRHEADPRO»</span><br/>Інфармацыйны сайт<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка, Ruby on Rails.</p>
								</div>
								<figure>
									<img src="../images/work/017.jpg" alt="">
									<figcaption><span>AIRHEADPRO</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="018" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«TWIST DIVERS»</span><br/>Cайт-візітка<br/>Стварэнне дызайну сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="../images/work/018.jpg" alt="">
									<figcaption><span>TWIST DIVERS</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="019" data-count="6">
								<div class="works-item-text">
									<p><span class="white">«Миркарис»</span><br/>Cайт-візітка<br/>Стварэнне дызайну сайта, вёрстка пад CMS Joomla, рух.</p>
								</div>
								<figure>
									<img src="../images/work/019.jpg" alt="">
									<figcaption><span>Миркарис</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="020" data-count="3">
								<div class="works-item-text">
									<p><span class="white">«Dezi»</span><br/>Cайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS Joomla.</p>
								</div>
								<figure>
									<img src="../images/work/020.jpg" alt="">
									<figcaption><span>Dezi</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="021" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«РЭМСОЛ»</span><br/>Cайт-візітка<br/>Стварэнне лагатыпа кампаніі, дызайну сайта, вёрстка пад CMS Joomla.</p>
								</div>
								<figure>
									<img src="../images/work/021.jpg" alt="">
									<figcaption><span>РЭМСОЛ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="022" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«ТУРБОПАР»</span><br/>Карпаратыўны сайт<br/>Стварэнне дызайну сайта, вёрстка пад CMS Joomla, рух.</p>
								</div>
								<figure>
									<img src="../images/work/022.jpg" alt="">
									<figcaption><span>ТУРБОПАР</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="023" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ТУРБОПАР»</span><br/>Карпаратыўны сайт<br/>Стварэнне дызайну сайта, вёрстка пад CMS Joomla, рух.</p>
								</div>
								<figure>
									<img src="../images/work/023.jpg" alt="">
									<figcaption><span>ТУРБОПАР (Россия)</span></figcaption>
								</figure>
							</div>

						</div></div></div></div>
					</div>
					<div class="block block_services">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="block_black block_services">
								<h1>Дамены. Хостынгі. Дызайн. Вёрска. CMS, як існуючая, так і іншыя. Капірайтынг, рэрайтынг. Кантэнт. Кантэкст (у тым ліку і банерны). SEO. Аналітыка. Аўдыт.</h1>
								<p>Крыху пра тое, што мы ўмеем і чым займаемся:</p>
								<ul>
								<li><span class="white">Дамены.</span> Набыццё неабходных Вам даменных імёнаў. Разгляд усіх варыянтаў, якія Вас цікавяць.</li>
								<li><span class="white">Хостынгі.</span> Серверы ў нас танней і функцыянальней, чым у канкурэнтаў. Праверце і пераканайцеся ў гэтым самі. Выдатная тэхнічная падтрымка 24 гадзіны сем дзён на тыдзень.</li>
								<li><span class="white">Дызайн.</span> Малюем усё: ад лагатыпа Вашай фірмы да візітак і буклетаў. “Абмалюем” Ваш бізнес з ног да галавы. Пакупнікі любяць вачыма.</li>
								<li><span class="white">Вёрстка.</span> Блокавая, кросбраўзерная, семантычная вёрстка ў кароткі тэрмін.</li>
								<li><span class="white">CMS.</span> Joomla, Wordpress, modX, Bitrix, Drupal, а таксама стварэнне разнастайных адміністратыўных панелей на такіх мовах праграмавання, як PHP і Ruby on Rails. І няхай Вам не зразумела, што абазначаюць гэтыя словы, наш вопыт працы з гэтымі рэчамі зробіць карыстанне сайтам простым і зручным.</li>
								<li><span class="white">Капірайтынг, рэрайтынг.</span> Пішам сто працэнтаў унікальныя тэксты, як для продажу, так і аптымізаваныя пад пэўныя пошукавыя запыты. Нам заўсёды ёсць, што сказаць.</li>
								<li><span class="white">Кантэнт.</span> Запаўняем сайты разнастаўнай неабходнай Вам інфармацыяй.</li>
								<li><span class="white">Кантэкст.</span> Выконваем работу па арганізацыі рэкламнай дзейнасці ў пошукавых сістэмах, аптымізуем яе працу і ўпэўнена дамагаемся поспеху.</li>
								<li><span class="white">SEO.</span> Гарантуем пападанне сайтаў па патрэбных Вам запытах у ТОП-10 любой пошукавай сістэмы.</li>
								<li><span class="white">Аналітыка.</span> Мы заўсёды ведаем, хто, калі і навошта наведаў Вашыя сайты. Ведаем, як аптымізаваць гэтыя працэсы на карысць вам.</li>
								<li><span class="white">Аўдыт.</span> Не ведаеце, як трапіць у той ці іншы каталог? Вы трапілі пад бан пошукавых сістэм? Не можаце рухацца ўверх па некаторых запытах? Мы дапаможам. Вызначым праблемныя зоны Вашага сайта і зробім поўны аналіз неабходных паправак для вырашэння праблем.</li>
								</ul>
								<p>Мы імкнемся, каб Ваш web заўсёды быў «як мае быць».</p>
							</div>

						</div></div></div></div>
					</div>
					<div class="block block_aboutus">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="aboutus-item">
								<img src="../images/about/Kovalevskiy.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Кавалеўскі Аляксей</h3>
									<div class="aboutus-item-speciality">Бізнес-аналітык</div>
									<div class="aboutus-item-description">
										<p>У гэтай сферы – з 2010 года. Працаваў у розных галінах – ад простага вярстальшчыка да SEO-спецыяліста і нават маркетолага. Зараз займаюся бізнес-аналітыкай і праект-менеджментам. За плячыма – вялікі вопыт працы, на руках – супрацоўніцтва са многімі IT-кампаніямі Мінска. Разам са сваімі спецыялістамі заўсёды імкнуся працаваць на вынік. Галоўнае, каб вы засталіся задаволеныя нашай працай і праект стаў сапраўды паспяховым. Кантактую з заказчыкамі, займаюся арганізацыяй усяго праекта, кантралюю яго выкананне. Ці добра ў мяне гэта атрымліваецца – пытанне да нашах кліентаў, але, у першую чаргу, я заўсёды імкнуся зрабіць пэўную працу лепш, чым было раней. </p>
									</div>
								</div>
							</div>

							<div class="aboutus-item">
								<img src="../images/about/Zamaraeva.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Замараева Вераніка</h3>
									<div class="aboutus-item-speciality">Капірайтэр</div>
									<div class="aboutus-item-description">
										<p>Мой асноўны інструмент – слова. З яго дапамогай можна прымусіць пакупніка да дзеяння і адначасова падняць сайт у пошукавай сістэме ўверх. Тэкст павінен падабацца не толькі мэтавай аўдыторыі, але і пошукавай машыне. Мы пішам унікальныя рэкламныя,  інфырмацыйныя і SEO-аптымізаваныя артыкулы, тэксты для павышэння продажу. Распрацоўваем слоганы і канцэпцыі развіцця Вашага бізнесу. Запаўняем кантэнтам Ваш сайт так, каб пакупніку было зразумела, чым Вы займаецеся. Спецыфіка маёй працы прымушае сумяшчаць у сабе якасці журналіста і літаратара з аднаго боку, і псіхолага, бізнесмэна і маркетолага з іншага. Паўгадзіны размовы з Вамі пра Ваш бізнес, і мы, ўжо ведаем, як граматна і эфектыўна яго прадаць.</p>
									</div>
								</div>
							</div>

							<div class="aboutus-item">
								<img src="../images/about/Fadeev.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Фадзееў Іван</h3>
									<div class="aboutus-item-speciality">SSEO - аптымізатар</div>
									<div class="aboutus-item-description">
										<p>У сучасным свеце сайт – асноўны рухавік бізнесу. Але недастаткова проста яго стварыць, неабходна забяспечыць пастойнае наведванне яго мэтавай аудыторыяй. У гэтым і заключаецца мая асноўная задача. Мы праводзім вялікую працу, пачынаючы ад аналізу і даследавання Вашых канкурэнтаў і заканчваючы пападаннем Вашага сайта ў ТОП-10 любой пошукавай сістэмы. Нашы спецыялісты аптымізуюць і прасоўваюць сайт па пошукавых запытах, павышаюць індэкс цытавання сайта і праводзяць пастойны – сістэматычны маніторынг яго пазіцый у пошукавых сістэмах, аналіз яго наведвання і аўдыторыі. У выніку Ваш сайт працуе эфектыўна і прыносіць Вашаму бізнесу неабходных пакупнікоў, а значыць, і грошы.</p>
									</div>
								</div>
							</div>


							<div class="aboutus-item">
								<img src="../images/about/Zhlobo.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Жлоба Дзмітрый</h3>
									<div class="aboutus-item-speciality">Праграміст</div>
									<div class="aboutus-item-description">
										<p>Няма праблем, якія нельга выправіць. Мы можам зрабіць дадатак менавіта такім, якім яго хоча бачыць заказчык. Прапрацоўваем задачы ад пачатку і да канца, ад дызайна і інтэрфейса, да вёрсткі і распрацоўкі сервернай часткі. Маем дастатковы вопыт працы з разнастайнымі тэхналогіямі і інструментамі: ад CMS і фрэймворкаў для хуткай распрацоўкі сайтаў, да пошукавых рухавікоў (elastcsearch, sphinx), сістэм і алгарытмаў размеркаванай апрацоўкі вялікай колькасці дадзеных (hadoop). Прымаем удзел як у распрацоўцы даволі простых сайтаў-візітак, так і высоканагружаных веб-дадаткаў са складанай бізнэс-логікай.<br/>
					  Наша праца нябачна звычайнаму карыстальніку, але менавіта мы – рухавік Вашага сайта.</p>
									</div>
								</div>
							</div>


							<div class="aboutus-item">
								<img src="../images/about/Bushin.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Бушын Дзяніс</h3>
									<div class="aboutus-item-speciality">Веб - дызайнер</div>
									<div class="aboutus-item-description">
										<p>Веб-дызайн вызначае знешні выгляд сайта. Гэта першае, што бачыць наведвальнік. Дызайн сайта ўжо падсвядома фарміруе меркаванне пра кампанію ў патэнцыйных кліентаў. Мы ствараем унікальныя, яркія, запамінальныя праекты, якія прадаюцца, – вось наша крэда. Раздражняльны або праставаты веб-дызайн можа адштурхнуць наведвальніка ад далейшага вывучэння сайта. Даручыце распрацоўку вопытным спецыялістам нашай кампаніі: прафесіяналам у стварэнні цікавага, зразумелага, функцыянальнага і запамінальнага веб-дызайна. Пераканацца ў тым, што мы падыходзім Вам, вельмі проста! Зазірніце ў наша партфоліа. Там абавязкова знойдзецца некалькі прац, якія Вам спадабаюцца. Мы распрацуем дызайн у адпаведнасці з Вашымі пажаданнямі, нашым вопытам і сучаснымі патрабаваннямі.
					 </p>
									</div>
								</div>
							</div>

						</div></div></div></div>
					</div>
					<div class="block block_contacts">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="contacts-item block_black">
								<h3>Кавалеўскі Аляксей</h3>
								<div class="contacts-item-speciality">Бізнес-аналітык</div>
								<div class="contacts-item-content">
									<p>Мінск, вул. Курчатава, буд.1</p>
									<p>skype:aleksey.kovalevskiy</p>
									<p>kovalevsai@gmail.com</p>
									<p>+375 29  253 94 00</p>
								</div>
							</div>

						</div></div></div></div>
					</div>
				</div>

			</div>

			<aside class="sidebar">
				<div class="sidebar-title">web як мае быць</div>
				<div class="sidebar-controller">
					<img class="sidebar-logo" src="../images/logo.png" alt="Apostraf.by">
					<div class="sidebar-langs">
						<a href="../en/">EN</a>
						<a href="../by/" class="sidebar-link--active">BY</a>
						<a href="../">RU</a>
					</div>
					<nav class="sidebar-navigation">
						<a class="sidebar-link--active" href="#0">Работы</a>
						<a href="#1">Паслуги</a>
						<a href="#2">Аб нас</a>
						<a href="#3">Кантакты</a>
					</nav>
					<div class="sidebar-contacts">
						<a class="sidebar-contacts_vk"></a><a href="mailto:kovalevsai@gmail.com" class="sidebar-contacts_mail"></a><a href="skype:aleksey.kovalevskiy?call" class="sidebar-contacts_skype"></a>
					</div>
				</div>
				<div class="sidebar-content">
			        <p>Мы – пачынаючая каманда перспектыўных маладых людзей, якія імкнуцца зрабіць дызайн у Інтэрнеце цікавым і простым. Мы ведаем, як прадставіць твар Вашага бізнесу на прасторах сусветнай павуціны. Не баімся цяжкіх і незвычайных праектаў. Цэнім Ваш час і Вашы грошы.</p>
			  		<p>Вы знайшлі тое, што трэба, бо тут любыя Вашыя ідэі ператвараюцца ў жыццё.<br/>З намі web заўсёды «як мае быць». </p>
				</div>
				<div class="sidebar-content--galery"></div>
				<div class="sidebar-footer">АПОСТРАФ, 2013</div>

				<div class="scroll">
					<div class="scroll-handler"></div>
				</div>
			</aside>

			<div class="screen-eq0">
				<img class="screen-eq0-logo" src="../images/logo.png" alt="Apostraf.by">
				<div class="screen-eq0-title">web як мае быць</div>
			</div>

			<div class="galery">
				<div class="galery_table">
					<div class="galery_cell">
						<div class="galery_content">
							<div class="galery_bigImage"><img src="../images/work/001_x_01.jpg"></div>
							<div class="galery_smallImages">
								<img class="galery_smallImages_selected" src="../images/work/001_s_01.jpg">
								<img src="../images/work/001_s_02.jpg">
							</div>
							<div class="galery-buttonClose"></div>
						</div>
					</div>
				</div>
				<div class="galery_bg"></div>
			</div>

		</div>

		<div class="background">
			<img src="../images/background.jpg" data-width="1280" data-height="758">
		</div>
