.galery {
	// width: 100%;
	height: 100%;
	min-height: 614px;
	// padding-right: 19px;
	top: 10000px;
	left: 0;
	right: $sidebar-width - 19;
	position: absolute;
	z-index: 100;
	opacity: 0;
	@include transition(opacity $anim-duration $anim-type);
	// display: table;
}
.openedGalery .galery {
	top: 0;
	opacity: 1;
}
.closingGalery .galery {
	top: 0;
	opacity: 0;
}
	.galery_table {
		width: 100%;
		height: 100%;
		display: table;
	}
	.galery_cell {
		display: table-cell;
		position: relative;
		z-index: 500;
		vertical-align: middle;
	}
	.galery_content {
		width: 783px;
		height: 611px;
		padding-bottom: 64px;
		margin: auto;
		@include box-sizing(border-box);
		position: relative;
		background: #FFF;
	}
	.galery_bigImage {
		vertical-align: middle;
		text-align: center;
	}
	.galery_smallImages {
		width: 100%;
		height: 45px;
		padding: 9px 0 10px;
		left: 0;
		bottom: -1px;
		position: absolute;
		background: rgba(0,0,0,0.78);
		font-size: 0;
		line-height: 0;
		text-align: center;

		IMG {
			margin: 0 6px;
			display: inline-block;
			cursor: pointer;
			opacity: .7;
			@include transition(all $anim-duration $anim-type);
		}

		.active {
			opacity: 1;
		}
	}
	.galery_bg {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background: rgba(0,0,0,0.7);
	}
	.galery-buttonClose {
		width: 16px;
		height: 16px;
		top: 1px;
		right: -18px;
		position: absolute;
		background: url(../images/button-close.png) no-repeat 0 0;
		cursor: pointer;
	}
	.galery-buttonClose:hover {
		background-position: -16px 0;
	}
