$anim-duration-001: 0.2s;
.works-item {
	display: block;
	// color: #a29b9b;

	FIGURE {
		margin: 5px;
		float: left;
		position: relative;
		overflow: hidden;
		line-height: 1em;
		font-size: 1.16667rem;
		// color: #a29b9b;
		opacity: .5;
		cursor: pointer;

		SPAN {
			border-bottom: 1px dashed #a29b9b;
			// color: #a29b9b;
		}

		@include transition(all $anim-duration-001 $anim-type);
	}

	IMG {
		display: block;
	}

	FIGCAPTION {
		width: 100%;
		padding: 10px;
		position: absolute;
		bottom: -50px;
		opacity: 0.5;
		@include box-sizing(border-box);
		border-top: 1px solid #414040;
		border-bottom: 1px solid #414040;
		background: #383838;

		@include transition(all $anim-duration-001 $anim-type);
	}

	&:hover {
		FIGURE {
			opacity: 1;
		}
		FIGCAPTION {
			bottom: 0;
			opacity: 1;
		}
	}
}

	.works-item-text {
		display: none;
	}
