@import "compass";

// Reset
@include global-reset;

HTML {
  height: 100%;
  min-height: 614px;
  font-size: 10px;
}

BODY {
  height: 100%;
  min-height: 614px;
  color: #a29b9b;
  font-family: Arial,Sans;
}

.white {
  color: #fff;
  font-size: 14px;
}

//

.screen {
  height: 100%;
  min-height: 614px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  overflow: hidden;
}
  $anim-duration: 0.3s;
  $anim-type: ease-in-out;

  $sidebar-width: 426px;

  .screen-eq1 {
    height: 100%;
    position: absolute;
    left: 0;
    right: $sidebar-width;
    opacity: 0;
    overflow: auto;
    background: rgba(0,0,0,0);
    @include transition(opacity $anim-duration $anim-type);
  }
  .noStartAnimation .screen-eq1 {
    @include transition(none);
    opacity: 1;
  }

  .show-eq1 .screen-eq1 {
    opacity: 1;
  }

  .sidebar {
    width: $sidebar-width;
    height: 100%;
    padding: 53px 0 31px 46px;
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    right: -$sidebar-width;
    background: #000;
    z-index: 25;
    @include transition(right $anim-duration $anim-type);
  }
  .noStartAnimation .sidebar {
    @include transition(none);
    right: 0;
  }
  .show-eq1 .sidebar {
    right: 0;
  }
    .sidebar-title {
      margin-left: 72px;
      font-size: 1.3rem;
      color: #a29b9b;
      text-transform: uppercase;
    }
    .sidebar-controller {
      width: 214px;
      padding: 38px 0 31px;
      margin: 8px 0 14px 72px;
      border: 1px solid #606060;
      border-width: 1px 0 1px;
      font-size: 1.32222rem;
      line-height: 2.33333rem;
    }
    .sidebar-controller:after {
      height: 0;
      display: block;
      line-height: 0;
      visibility: hidden;
      clear: both;
      content: ".";
    }
    .sidebar-controller A {
      color: #a29b9b;
      text-decoration: none;
    }
    .sidebar-controller A:hover {
      color: #ebebeb;
    }
    .sidebar-logo {
      float: left;
    }
    .sidebar-langs {
      width: 73px;
      margin-bottom: 2.33333rem;
      float: right;
      clear: right;
    }
    .sidebar-langs A {
      color: #a29b9b;
    }
    .sidebar-link--active{
      color: #00e3e3 !important;
    }
    .sidebar-navigation {
      width: 73px;
      float: right;
      clear: right;
      text-transform: uppercase;
    }
    .sidebar-navigation A {
      display: inline-block;

      &:hover {
        color: #FFF;
      }
    }
    .openedGalery .sidebar-navigation A {
      color: #333;
    }
    .sidebar-contacts {
      margin-top: 1.16667rem;
      float: right;
      clear: right;
      font-size: 0;
      line-height: 0;
    }
    .sidebar-contacts A {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0 0 0 6px;
      background: url(../images/icon-contacts.png) 0 0 no-repeat;
    }
    .sidebar-contacts A:active {
      position: relative;
      top: 1px;
      left: 1px;
    }
    A.sidebar-contacts_vk {
      background-position: 0 -40px;
    }
    A.sidebar-contacts_vk:hover {
      background-position: -20px -40px;
    }
    A.sidebar-contacts_mail {
      background-position: 0 -20px;
    }
    A.sidebar-contacts_mail:hover {
      background-position: -20px -20px;
    }
    A.sidebar-contacts_skype {
      background-position: 0 -0px;
    }
    A.sidebar-contacts_skype:hover {
      background-position: -20px -0px;
    }
    .sidebar-content,
    .sidebar-content--galery {
      width: 286px;
      height: 100%;
      position: relative;
      line-height: 2.33333rem;
      font-size: 1.16667rem;
      text-align: justify;
      text-indent: 72px;
    }
    .sidebar-content A,
    .sidebar-content--galery A {
      color: #ebebeb;
    }
    .sidebar-content A:hover,
    .sidebar-content--galery A:hover {
      text-decoration: none;
    }
    .openedGalery .sidebar-content {
      display: none;
    }
    .openedGalery .sidebar-content--work {
      display: block;
    }
    .sidebar-footer {
      width: 286px;
      position: absolute;
      left: 46px;
      bottom: 31px;
      color: #a29b9b;
      font-size: .93333rem;
      text-align: right;
    }
    .sidebar-footer A {
      text-decoration: none;
      color: inherit;
    }

  $screenEq0-width: 408px;
  $screenEq0-height: 234px;
  .screen-eq0 {
    width: $screenEq0-width;
    height: $screenEq0-height;
    margin: ( -$screenEq0-height / 2 ) 0 0 ( -$screenEq0-width / 2 );
    position: absolute;
    top: 42%;
    left: 50%;
    background: #000;
    color: #a6a6a6;
    cursor: pointer;
    z-index: 24;
    @include transition(all $anim-duration $anim-type);
  }
  .noStartAnimation .screen-eq0 {
    @include transition(none);
    display: none;
  }
  .show-eq1 .screen-eq0 {
    margin-left: ( -$screenEq0-width / 2 ) - ( $sidebar-width / 2 );
    opacity: 0;
  }
    .screen-eq0-logo {
      margin: 36px auto 0;
      display: block;
    }
    .screen-eq0-title {
      margin-top: 16px;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
    }

.scroll {
  width: 10px;
  position: absolute;
  left: 9px;
  top: 35px;
  bottom: 31px;
}
.scroll,
.scroll-handler {
  background: url(../images/scroller.png) repeat-y 0 0;
}
  .scroll-handler {
    width: 10px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: -10px 0;
    cursor: pointer;
  }

// BLOCKS

@import "galery";

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.div_table { display: table; }
.div_tr { display: table-row; }
.div_td { display: table-cell; }

.block {
  min-height: 100%;
  position: relative;
  @extend .clearfix;
}
  .block .div_table,
  .block .div_tr,
  .block .div_td {
    width: 100%;
  }
  .block .div_td {
    vertical-align: middle;
  }
  .block-content {
    width: 800px;
    margin: auto;
    padding: 35px 0 31px;
    @extend .clearfix;
    // display: inline-block;
  }

.block_black {
  padding: 17px 14px;
  background: rgba(0,0,0,0.8);
  @include background(linear-gradient(top center,rgba(0,0,0,0.95) 15%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0.2)));
  // background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(15%,rgba(0,0,0,0.95)),color-stop(75%,rgba(0,0,0,0.7)),color-stop(100%,rgba(0,0,0,0.2)));
  // background: -webkit-linear-gradient(top center,rgba(0,0,0,0.95) 15%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0.2));
  // background: -moz-linear-gradient(top center,rgba(0,0,0,0.95) 15%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0.2));
  // background: -o-linear-gradient(top center,rgba(0,0,0,0.95) 15%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0.2));
  // background: linear-gradient(top center,rgba(0,0,0,0.95) 15%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0.2));
  color: #a29b9b;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

@import "section-001";

.block_services {
  position: relative;

  H1 {
    font-size: 2.33333rem;
  }

  H1, H2, H3, H4, H5, H6, P, LI {
    margin: 10px 0;
  }

  P, LI {
    font-size: 1.16667rem;
    line-height: 2.33333rem;
  }

  UL, LI {
    list-style: inside disc;
  }
}

.aboutus-item {
  height: 301px;
  margin-bottom: 10px;
  clear: both;

  IMG {
    float: left;
  }

  &:nth-child(2n) {
    IMG {
      float: right;
    }
    .aboutus-item-content {
      margin: 0 225px 0 0;
    }
  }
}
  .aboutus-item-content {
    height: 301px;
    margin-left: 225px;
    @include box-sizing(border-box);
    padding: 17px 14px;
    position: relative;
    background: rgba(0,0,0,0.8);
    @include background(linear-gradient(top center,rgba(0,0,0,0.95) 15%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0.2)));
    color: #a29b9b;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);

    H3 {
      margin-bottom: 8px;
      text-transform: uppercase;
      font-size: 1.16667rem;
      line-height: 1;
    }
  }
    .aboutus-item-speciality {
      min-width: 213px;
      padding-top: 9px;
      display: inline-block;
      border-top: 1px solid #606060;
      line-height: 1;
      text-transform: uppercase;
      font-size: .93333rem;
    }
    .aboutus-item-description {
      font-size: 1.16667rem;
      line-height: 2.33333rem;
      text-indent: 72px;

      P {
        margin-top: 20px;
      }
    }

.contacts-item {
  height: 198px;
  padding: 17px 14px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  @include background(linear-gradient(top center,rgba(0,0,0,0.8) 15%,rgba(0,0,0,0.55) 75%,rgba(0,0,0,0.125)));

  @extend .clearfix;

  H3 {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 1.16667rem;
    line-height: 1;
  }
}
  .contacts-item-speciality {
    min-width: 213px;
    padding-top: 9px;
    display: inline-block;
    border-top: 1px solid #606060;
    line-height: 1;
    text-transform: uppercase;
    font-size: .93333rem;
  }
  .contacts-item-content {
    width: 449px;
    float: right;
    font-size: 1.16667rem;
    line-height: 2.33333rem;
  }

// END BLOCKS


.background {
  height: 100%;
  min-height: 614px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  overflow: hidden;
  @include transition(all $anim-duration $anim-type);
}
.noStartAnimation .background {
  @include transition(none);
  left: - ( $sidebar-width / 2 );
}
.show-eq1 .background {
  left: - ( $sidebar-width / 2 );
}

.noselecting {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
