<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Apostraf.by</title>

    <!--[if !IE]>
    <meta http-equiv="refresh" content="0; url=ie.html">
    <![endif]-->

    <%= stylesheet_link_tag "main" %>
  </head>

  <body>
<%= yield %>

    <%= javascript_include_tag  "main" %>
  </body>
</html>
