							<div class="block_black block_services">
								<h1>Домены. Хостинги. Дизайн. Вёрстка. CMS, как существующие, так и любые другие. Копи-рерайтинг.
								Контент. Контекст (в том числе и баннерный). SEO. Аналитика. Аудит.</h1>
								<p>Немного о том, что мы умеем и чем занимаемся:</p>
								<ul>
								<li><span class="white">Домены.</span> Приобретение нужных Вам доменных имён. Рассмотрение всех интересующих Вас вариантов.</li>
								<li><span class="white">Хостинги.</span> Сервера у нас дешевле и функциональнее, чем у  конкурентов. Проверьте и убедитесь в этом сами.
								Отличная техническая поддержка круглые сутки.</li>
								<li><span class="white">Дизайн.</span> Рисуем всё, начиная от логотипа Вашей фирмы, заканчивая визитками и буклетами. «Обрисуем» Ваш
								бизнес с ног до головы. Покупатели любят глазами.</li>
								<li><span class="white">Вёрстка.</span> Блочная, кроссбраузерная, семантическая вёрстка в сжатые сроки.</li>
								<li><span class="white">CMS.</span> Joomla, Wordpress, modX, Bitrix, Drupal, а также создание любых административных панелей на таких
								языках программирования, как PHP и Ruby on Rails. И пусть Вам непонятно, что означают эти слова, но наш
								опыт работы с этими вещами сделает Ваше пользование сайтом удобным и простым.</li>
								<li><span class="white">Копи-рерайтинг.</span> Пишем 100% уникальные тексты, как продающие, так и оптимизированные под конкретные
								поисковые запросы. Нам всегда есть, что сказать.</li>
								<li><span class="white">Контент.</span> Заполняем сайты любой необходимой для Вас информацией.</li>
								<li><span class="white">Контекст.</span> Выполняем работу по организации рекламной деятельности в поисковых системах, оптимизируем её
								работу и уверенно достигаем успеха.</li>
								<li><span class="white">SEO.</span> Осуществляем гарантированное попадание сайтов по нужным Вам запросам в ТОП 10 любой поисковой системы.</li>
								<li><span class="white">Аналитика.</span> Всегда в курсе, кто, когда и зачем посещал Ваши сайты. Знаем, как оптимизировать эти процессы
								в Вашу пользу.</li>
								<li><span class="white">Аудит.</span> Не знаете, как попасть в тот или иной каталог? Вы попали под бан поисковых систем? Не можете
								двинуться вверх по некоторым запросам? Мы поможем! Определим проблемные зоны Вашего сайта и сделаем
								полный анализ необходимых поправок для решения сложившихся проблем.</li>
								</ul>
								<p>Мы стараемся, чтобы Ваш web всегда был «як мае быць».</p>
							</div>
