							<div class="works-item" data-id="001" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«Полимерторг»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Wordpress.</p>
								</div>
								<figure>
									<img src="images/work/001.jpg" alt="">
									<figcaption><span>ПолимерТорг</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="002" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«АДАНИ» («ADANISYSTEMS»)</span><br>Корпоративный сайт<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/002.jpg" alt="">
									<figcaption><span>ADAНИ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="003" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«АТЛАНТ»</span><br>Сайт-визитка<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/003.jpg" alt="">
									<figcaption><span>ATLANT</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="004" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Archosportfolio»</span><br>Сайт-визитка<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/004.jpg" alt="">
									<figcaption><span>Archosportfolio</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="005" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Graphicdesign»</span><br>Сайт-визитка<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/005.jpg" alt="">
									<figcaption><span>Graphicdesign</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="006" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«CAIRO ltd &amp; Co»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Wordpress.</p>
								</div>
								<figure>
									<img src="images/work/006.jpg" alt="">
									<figcaption><span>Cario</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="007" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«INLETS»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/007.jpg" alt="">
									<figcaption><span>INLETS</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="008" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ALSCO Ltd»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/008.jpg" alt="">
									<figcaption><span>ALSCO</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="009" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«FRESH &amp; Clean»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/009.jpg" alt="">
									<figcaption><span>FRESH &amp; Clean</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="010" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«Domestos»</span><br>Сайт-визитка<br>Создание дизайна сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/010.jpg" alt="">
									<figcaption><span>Domestos</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="011" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«iGERMANN»</span><br>Интернет-магазин<br>Создание дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/011.jpg" alt="">
									<figcaption><span>iGERMAN</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="012" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ЗОЛОТАЯ МИЛЯ»</span><br>Сайт-визитка<br>Создание дизайна сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/012.jpg" alt="">
									<figcaption><span>ЗОЛОТАЯ МИЛЯ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="013" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Magic Dream»</span><br>Интернет-магазин<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/013.jpg" alt="">
									<figcaption><span>Magic Dream</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="014" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«DentalClinic»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Joomla.</p>
								</div>
								<figure>
									<img src="images/work/014.jpg" alt="">
									<figcaption><span>DentalClinic</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="015" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«24 Shop»</span><br>Интернет-магазин<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/015.jpg" alt="">
									<figcaption><span>24SHOP.BY</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="016" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«FINESTATE»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка.</p>
								</div>
								<figure>
									<img src="images/work/016.jpg" alt="">
									<figcaption><span>FINESTATE</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="017" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«AIRHEADPRO»</span><br>Информационный сайт<br>Создание логотипа компании, дизайна сайта, вёрстка, Ruby on Rails.</p>								</div>
								<figure>
									<img src="images/work/017.jpg" alt="">
									<figcaption><span>AIRHEADPRO</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="018" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«TWIST DIVERS»</span><br>Cайт-визитка<br>Создание дизайна сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/018.jpg" alt="">
									<figcaption><span>TWIST DIVERS</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="019" data-count="6">
								<div class="works-item-text">
									<p><span class="white">«Миркарис»</span><br>Cайт-визитка<br>Создание дизайна сайта, вёрстка под CMS Joomla, продвижение.</p>
								</div>
								<figure>
									<img src="images/work/019.jpg" alt="">
									<figcaption><span>Миркарис</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="020" data-count="3">
								<div class="works-item-text">
									<p><span class="white">«Dezi»</span><br>Cайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Joomla.</p>
								</div>
								<figure>
									<img src="images/work/020.jpg" alt="">
									<figcaption><span>Dezi</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="021" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«РЭМСОЛ»</span><br>Cайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Joomla.</p>
								</div>
								<figure>
									<img src="images/work/021.jpg" alt="">
									<figcaption><span>РЭМСОЛ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="022" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«ТУРБОПАР»</span><br>Корпоративный сайт<br>Создание дизайна сайта, вёрстка под CMS Joomla, продвижение.</p>
								</div>
								<figure>
									<img src="images/work/022.jpg" alt="">
									<figcaption><span>ТУРБОПАР</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="023" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ТУРБОПАР»</span><br>Корпоративный сайт<br>Создание дизайна сайта, вёрстка под CMS Joomla, продвижение.</p>
								</div>
								<figure>
									<img src="images/work/023.jpg" alt="">
									<figcaption><span>ТУРБОПАР (Россия)</span></figcaption>
								</figure>
							</div>
