							<div class="contacts-item block_black">
								<h3>Ковалевский Алексей</h3>
								<div class="contacts-item-speciality">Бизнес - аналитик</div>
								<div class="contacts-item-content">
									<p>Минск, ул. Курчатова, д.1</p>
									<p>skype:aleksey.kovalevskiy</p>
									<p>kovalevsai@gmail.com</p>
									<p>+375 29  253 94 00</p>
								</div>
							</div>
