
							<div class="aboutus-item">
								<img src="images/about/Kovalevskiy.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Ковалевский Алексей</h3>
									<div class="aboutus-item-speciality">Бизнес - аналитик</div>
									<div class="aboutus-item-description">
										<p>В этой сфере с 2010 года. Работал в разных областях, начиная с рядового верстальщика, был и SEO-специалистом, и даже маркетологом.  Сейчас занимаюсь бизнес-аналитикой в совместительстве с проект-менеджментом. За плечами большой опыт работы, в руках – сотрудничество со многими IT-компаниями Минска. Вместе со своими специалистами всегда стараюсь работать на результат. Главное, чтобы Вы остались довольны нашей работой и проект действительно стал успешным.  Общаюсь с заказчиками, занимаюсь организацией всего проекта в целом, контролем его выполнения. Насколько справляюсь – виднее нашим клиентам, но, в первую очередь, всегда стараюсь превзойти самого себя.</p>
									</div>
								</div>
							</div>

							<div class="aboutus-item">
								<img src="images/about/Zamaraeva.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Замараева Вероника</h3>
									<div class="aboutus-item-speciality">Копирайтер</div>
									<div class="aboutus-item-description">
										<p>Мой основной инструмент – слово. С помощью него можно побудить покупателя к действию и одновременно продвинуть сайт в поисковой системе высоко вверх. Текст должен понравиться не только целевой аудитории, но и поисковой машине. Мы пишем уникальные рекламные и продающие тексты, информационные и SEO-оптимизированные статьи. Разрабатываем слоганы и концепции развития Вашего бизнеса. Заполняем контентом Ваш сайт так, чтобы покупателю было понятно, чем Вы занимаетесь.  По специфике работы приходиться совмещать в себе литератора и журналиста с одной стороны, и психолога, бизнесмена и маркетолога с другой. Полчаса общения с Вами, и мы, не зная ничего  о Вашем бизнесе, уже знаем, как грамотно и эффективно его продать.</p>
									</div>
								</div>
							</div>

							<div class="aboutus-item">
								<img src="images/about/Fadeev.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Фадеев Иван</h3>
									<div class="aboutus-item-speciality">SEO - оптимизатор</div>
									<div class="aboutus-item-description">
										<p>В современном мире сайт – основной двигатель бизнеса.  Но мало просто его создать, нужно ещё и обеспечить постоянную посещаемость целевой аудиторией. В этом и заключается моя основная задача.  Мы проводим огромную работу, начиная с анализа и исследования Ваших конкурентов и заканчивая попаданием Вашего сайта в ТОП-10  любой поисковой системы. Наши специалисты оптимизируют и продвигают сайт по поисковым запросам, повышают индекс цитируемости сайта и проводят постоянный мониторинг его позиций в поисковых системах, анализ его посещаемости и аудитории. В результате Ваш сайт работает эффективно и приносит Вашему бизнесу необходимых покупателей, а значит, и деньги.</p>
									</div>
								</div>
							</div>


							<div class="aboutus-item">
								<img src="images/about/Zhlobo.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Жлобо Дмитрий</h3>
									<div class="aboutus-item-speciality">Программист</div>
									<div class="aboutus-item-description">
										<p>Нет проблем, которые нельзя исправить. Мы можем сделать приложение именно таким, каким хочет видеть его заказчик. Прорабатываем задачи от начала и до конца, от дизайна и интерфейса, до верстки и разработки серверной части. Имеем достаточный опыт работы с различными технологиями и инструментами: от CMS и фреймворков, для быстрой разработки сайтов, до поисковых движков (elasticsearch, sphinx), систем и алгоритмов распределенной обработки большого количества данных (hadoop). Участвуем в разработке как достаточно простых сайтов-визиток, так и высоконагруженных веб-приложений со сложной бизнес-логикой.<br>
									Наша работа не видна обыкновенному пользователю, но именно мы – двигатель Вашего сайта.</p>
									</div>
								</div>
							</div>


							<div class="aboutus-item">
								<img src="images/about/Bushin.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Бушин Денис</h3>
									<div class="aboutus-item-speciality">Веб - дизайнер</div>
									<div class="aboutus-item-description">
										<p>Веб-дизайн определяет внешний вид сайта. Это первое, что видит посетитель.
									Дизайн сайта уже подсознательно формирует мнение о компании у потенциальных клиентов.
									Мы создаем уникальные, яркие, запоминающиеся  и «продающие» проекты – вот наше кредо.
									Раздражающий или простоватый веб-дизайн может оттолкнуть посетителя от дальнейшего изучения сайта.
									Поручите разработку опытным сотрудникам нашей компании:
									профессионалам в создании интересного, понятного, функционального и запоминающегося веб-дизайна.
									Убедиться в том, что мы подходим Вам очень просто! Загляните в наше портфолио. Там обязательно найдется несколько работ,
									которые Вам понравятся. Мы разработаем дизайн в соответствии
									с Вашими пожеланиями, нашим опытом и современными требованиями.
									</p>
									</div>
								</div>
							</div>
