---
title: Start
---

		<div class="screen">

			<div class="screen-eq1">

				<div class="blocks">
					<div class="block block_works">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="works-item" data-id="001" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«Полимерторг»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Wordpress.</p>
								</div>
								<figure>
									<img src="images/work/001.jpg" alt="">
									<figcaption><span>ПолимерТорг</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="002" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«АДАНИ» («ADANISYSTEMS»)</span><br>Корпоративный сайт<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/002.jpg" alt="">
									<figcaption><span>ADAНИ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="003" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«АТЛАНТ»</span><br>Сайт-визитка<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/003.jpg" alt="">
									<figcaption><span>ATLANT</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="004" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Archosportfolio»</span><br>Сайт-визитка<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/004.jpg" alt="">
									<figcaption><span>Archosportfolio</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="005" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Graphicdesign»</span><br>Сайт-визитка<br>Дизайн сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/005.jpg" alt="">
									<figcaption><span>Graphicdesign</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="006" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«CAIRO ltd &amp; Co»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Wordpress.</p>
								</div>
								<figure>
									<img src="images/work/006.jpg" alt="">
									<figcaption><span>Cario</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="007" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«INLETS»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/007.jpg" alt="">
									<figcaption><span>INLETS</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="008" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ALSCO Ltd»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/008.jpg" alt="">
									<figcaption><span>ALSCO</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="009" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«FRESH &amp; Clean»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/009.jpg" alt="">
									<figcaption><span>FRESH &amp; Clean</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="010" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«Domestos»</span><br>Сайт-визитка<br>Создание дизайна сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/010.jpg" alt="">
									<figcaption><span>Domestos</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="011" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«iGERMANN»</span><br>Интернет-магазин<br>Создание дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/011.jpg" alt="">
									<figcaption><span>iGERMAN</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="012" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ЗОЛОТАЯ МИЛЯ»</span><br>Сайт-визитка<br>Создание дизайна сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/012.jpg" alt="">
									<figcaption><span>ЗОЛОТАЯ МИЛЯ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="013" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«Magic Dream»</span><br>Интернет-магазин<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/013.jpg" alt="">
									<figcaption><span>Magic Dream</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="014" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«DentalClinic»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Joomla.</p>
								</div>
								<figure>
									<img src="images/work/014.jpg" alt="">
									<figcaption><span>DentalClinic</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="015" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«24 Shop»</span><br>Интернет-магазин<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS ModX.</p>
								</div>
								<figure>
									<img src="images/work/015.jpg" alt="">
									<figcaption><span>24SHOP.BY</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="016" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«FINESTATE»</span><br>Сайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка.</p>
								</div>
								<figure>
									<img src="images/work/016.jpg" alt="">
									<figcaption><span>FINESTATE</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="017" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«AIRHEADPRO»</span><br>Информационный сайт<br>Создание логотипа компании, дизайна сайта, вёрстка, Ruby on Rails.</p>								</div>
								<figure>
									<img src="images/work/017.jpg" alt="">
									<figcaption><span>AIRHEADPRO</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="018" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«TWIST DIVERS»</span><br>Cайт-визитка<br>Создание дизайна сайта, вёрстка, PHP.</p>
								</div>
								<figure>
									<img src="images/work/018.jpg" alt="">
									<figcaption><span>TWIST DIVERS</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="019" data-count="6">
								<div class="works-item-text">
									<p><span class="white">«Миркарис»</span><br>Cайт-визитка<br>Создание дизайна сайта, вёрстка под CMS Joomla, продвижение.</p>
								</div>
								<figure>
									<img src="images/work/019.jpg" alt="">
									<figcaption><span>Миркарис</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="020" data-count="3">
								<div class="works-item-text">
									<p><span class="white">«Dezi»</span><br>Cайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Joomla.</p>
								</div>
								<figure>
									<img src="images/work/020.jpg" alt="">
									<figcaption><span>Dezi</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="021" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«РЭМСОЛ»</span><br>Cайт-визитка<br>Создание логотипа компании, дизайна сайта, вёрстка под CMS Joomla.</p>
								</div>
								<figure>
									<img src="images/work/021.jpg" alt="">
									<figcaption><span>РЭМСОЛ</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="022" data-count="2">
								<div class="works-item-text">
									<p><span class="white">«ТУРБОПАР»</span><br>Корпоративный сайт<br>Создание дизайна сайта, вёрстка под CMS Joomla, продвижение.</p>
								</div>
								<figure>
									<img src="images/work/022.jpg" alt="">
									<figcaption><span>ТУРБОПАР</span></figcaption>
								</figure>
							</div>
							<div class="works-item" data-id="023" data-count="1">
								<div class="works-item-text">
									<p><span class="white">«ТУРБОПАР»</span><br>Корпоративный сайт<br>Создание дизайна сайта, вёрстка под CMS Joomla, продвижение.</p>
								</div>
								<figure>
									<img src="images/work/023.jpg" alt="">
									<figcaption><span>ТУРБОПАР (Россия)</span></figcaption>
								</figure>
							</div>

						</div></div></div></div>
					</div>
					<div class="block block_services">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="block_black block_services">
								<h1>Домены. Хостинги. Дизайн. Вёрстка. CMS, как существующие, так и любые другие. Копи-рерайтинг.
								Контент. Контекст (в том числе и баннерный). SEO. Аналитика. Аудит.</h1>
								<p>Немного о том, что мы умеем и чем занимаемся:</p>
								<ul>
								<li><span class="white">Домены.</span> Приобретение нужных Вам доменных имён. Рассмотрение всех интересующих Вас вариантов.</li>
								<li><span class="white">Хостинги.</span> Сервера у нас дешевле и функциональнее, чем у  конкурентов. Проверьте и убедитесь в этом сами.
								Отличная техническая поддержка круглые сутки.</li>
								<li><span class="white">Дизайн.</span> Рисуем всё, начиная от логотипа Вашей фирмы, заканчивая визитками и буклетами. «Обрисуем» Ваш
								бизнес с ног до головы. Покупатели любят глазами.</li>
								<li><span class="white">Вёрстка.</span> Блочная, кроссбраузерная, семантическая вёрстка в сжатые сроки.</li>
								<li><span class="white">CMS.</span> Joomla, Wordpress, modX, Bitrix, Drupal, а также создание любых административных панелей на таких
								языках программирования, как PHP и Ruby on Rails. И пусть Вам непонятно, что означают эти слова, но наш
								опыт работы с этими вещами сделает Ваше пользование сайтом удобным и простым.</li>
								<li><span class="white">Копи-рерайтинг.</span> Пишем 100% уникальные тексты, как продающие, так и оптимизированные под конкретные
								поисковые запросы. Нам всегда есть, что сказать.</li>
								<li><span class="white">Контент.</span> Заполняем сайты любой необходимой для Вас информацией.</li>
								<li><span class="white">Контекст.</span> Выполняем работу по организации рекламной деятельности в поисковых системах, оптимизируем её
								работу и уверенно достигаем успеха.</li>
								<li><span class="white">SEO.</span> Осуществляем гарантированное попадание сайтов по нужным Вам запросам в ТОП 10 любой поисковой системы.</li>
								<li><span class="white">Аналитика.</span> Всегда в курсе, кто, когда и зачем посещал Ваши сайты. Знаем, как оптимизировать эти процессы
								в Вашу пользу.</li>
								<li><span class="white">Аудит.</span> Не знаете, как попасть в тот или иной каталог? Вы попали под бан поисковых систем? Не можете
								двинуться вверх по некоторым запросам? Мы поможем! Определим проблемные зоны Вашего сайта и сделаем
								полный анализ необходимых поправок для решения сложившихся проблем.</li>
								</ul>
								<p>Мы стараемся, чтобы Ваш web всегда был «як мае быць».</p>
							</div>

						</div></div></div></div>
					</div>
					<div class="block block_aboutus">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="aboutus-item">
								<img src="images/about/Kovalevskiy.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Ковалевский Алексей</h3>
									<div class="aboutus-item-speciality">Бизнес - аналитик</div>
									<div class="aboutus-item-description">
										<p>В этой сфере с 2010 года. Работал в разных областях, начиная с рядового верстальщика, был и SEO-специалистом, и даже маркетологом.  Сейчас занимаюсь бизнес-аналитикой в совместительстве с проект-менеджментом. За плечами большой опыт работы, в руках – сотрудничество со многими IT-компаниями Минска. Вместе со своими специалистами всегда стараюсь работать на результат. Главное, чтобы Вы остались довольны нашей работой и проект действительно стал успешным.  Общаюсь с заказчиками, занимаюсь организацией всего проекта в целом, контролем его выполнения. Насколько справляюсь – виднее нашим клиентам, но, в первую очередь, всегда стараюсь превзойти самого себя.</p>
									</div>
								</div>
							</div>

							<div class="aboutus-item">
								<img src="images/about/Zamaraeva.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Замараева Вероника</h3>
									<div class="aboutus-item-speciality">Копирайтер</div>
									<div class="aboutus-item-description">
										<p>Мой основной инструмент – слово. С помощью него можно побудить покупателя к действию и одновременно продвинуть сайт в поисковой системе высоко вверх. Текст должен понравиться не только целевой аудитории, но и поисковой машине. Мы пишем уникальные рекламные и продающие тексты, информационные и SEO-оптимизированные статьи. Разрабатываем слоганы и концепции развития Вашего бизнеса. Заполняем контентом Ваш сайт так, чтобы покупателю было понятно, чем Вы занимаетесь.  По специфике работы приходиться совмещать в себе литератора и журналиста с одной стороны, и психолога, бизнесмена и маркетолога с другой. Полчаса общения с Вами, и мы, не зная ничего  о Вашем бизнесе, уже знаем, как грамотно и эффективно его продать.</p>
									</div>
								</div>
							</div>

							<div class="aboutus-item">
								<img src="images/about/Fadeev.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Фадеев Иван</h3>
									<div class="aboutus-item-speciality">SEO - оптимизатор</div>
									<div class="aboutus-item-description">
										<p>В современном мире сайт – основной двигатель бизнеса.  Но мало просто его создать, нужно ещё и обеспечить постоянную посещаемость целевой аудиторией. В этом и заключается моя основная задача.  Мы проводим огромную работу, начиная с анализа и исследования Ваших конкурентов и заканчивая попаданием Вашего сайта в ТОП-10  любой поисковой системы. Наши специалисты оптимизируют и продвигают сайт по поисковым запросам, повышают индекс цитируемости сайта и проводят постоянный мониторинг его позиций в поисковых системах, анализ его посещаемости и аудитории. В результате Ваш сайт работает эффективно и приносит Вашему бизнесу необходимых покупателей, а значит, и деньги.</p>
									</div>
								</div>
							</div>


							<div class="aboutus-item">
								<img src="images/about/Zhlobo.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Жлобо Дмитрий</h3>
									<div class="aboutus-item-speciality">Программист</div>
									<div class="aboutus-item-description">
										<p>Нет проблем, которые нельзя исправить. Мы можем сделать приложение именно таким, каким хочет видеть его заказчик. Прорабатываем задачи от начала и до конца, от дизайна и интерфейса, до верстки и разработки серверной части. Имеем достаточный опыт работы с различными технологиями и инструментами: от CMS и фреймворков, для быстрой разработки сайтов, до поисковых движков (elasticsearch, sphinx), систем и алгоритмов распределенной обработки большого количества данных (hadoop). Участвуем в разработке как достаточно простых сайтов-визиток, так и высоконагруженных веб-приложений со сложной бизнес-логикой.<br>
									Наша работа не видна обыкновенному пользователю, но именно мы – двигатель Вашего сайта.</p>
									</div>
								</div>
							</div>


							<div class="aboutus-item">
								<img src="images/about/Bushin.jpg" alt="">
								<div class="aboutus-item-content">
									<h3>Бушин Денис</h3>
									<div class="aboutus-item-speciality">Веб - дизайнер</div>
									<div class="aboutus-item-description">
										<p>Веб-дизайн определяет внешний вид сайта. Это первое, что видит посетитель.
									Дизайн сайта уже подсознательно формирует мнение о компании у потенциальных клиентов.
									Мы создаем уникальные, яркие, запоминающиеся  и «продающие» проекты – вот наше кредо.
									Раздражающий или простоватый веб-дизайн может оттолкнуть посетителя от дальнейшего изучения сайта.
									Поручите разработку опытным сотрудникам нашей компании:
									профессионалам в создании интересного, понятного, функционального и запоминающегося веб-дизайна.
									Убедиться в том, что мы подходим Вам очень просто! Загляните в наше портфолио. Там обязательно найдется несколько работ,
									которые Вам понравятся. Мы разработаем дизайн в соответствии
									с Вашими пожеланиями, нашим опытом и современными требованиями.
									</p>
									</div>
								</div>
							</div>

						</div></div></div></div>
					</div>
					<div class="block block_contacts">
						<div class="div_table"><div class="div_tr"><div class="div_td"><div class="block-content">

							<div class="contacts-item block_black">
								<h3>Ковалевский Алексей</h3>
								<div class="contacts-item-speciality">Бизнес - аналитик</div>
								<div class="contacts-item-content">
									<p>Минск, ул. Курчатова, д.1</p>
									<p>skype:aleksey.kovalevskiy</p>
									<p>kovalevsai@gmail.com</p>
									<p>+375 29  253 94 00</p>
								</div>
							</div>

						</div></div></div></div>
					</div>
				</div>

			</div>

			<aside class="sidebar">
				<div class="sidebar-title">web як мае быць</div>
				<div class="sidebar-controller">
					<img class="sidebar-logo" src="images/logo.png" alt="Apostraf.by">
					<div class="sidebar-langs">
						<a href="./en/">EN</a>
						<a href="./by/">BY</a>
						<a href="./" class="sidebar-link--active">RU</a>
					</div>
					<nav class="sidebar-navigation">
						<a class="sidebar-link--active" href="#0">Работы</a>
						<a href="#1">Услуги</a>
						<a href="#2">О нас</a>
						<a href="#3">Контакты</a>
					</nav>
					<div class="sidebar-contacts">
						<a class="sidebar-contacts_vk"></a><a href="mailto:kovalevsai@gmail.com" class="sidebar-contacts_mail"></a><a href="skype:aleksey.kovalevskiy?call" class="sidebar-contacts_skype"></a>
					</div>
				</div>
				<div class="sidebar-content">
		          <p>Мы  развивающаяся команда перспективных молодых людей, которые гонятся за интересным дизайном и простотой в сети Интернет. Мы знаем, как создать лицо Вашего бизнеса на просторах всемирной паутины. Не боимся сложных и необычных проектов. Ценим Ваше время и деньги.</p>
				  <p>Вы нашли то, что нужно, потому что здесь любые Ваши идеи воплощаются в жизнь.<br>С нами web всегда «як мае быць».</p>
				</div>
				<div class="sidebar-content--galery"></div>
				<div class="sidebar-footer">АПОСТРАФ, 2013</div>

				<div class="scroll">
					<div class="scroll-handler"></div>
				</div>
			</aside>

			<div class="screen-eq0">
				<img class="screen-eq0-logo" src="./images/logo.png" alt="Apostraf.by">
				<div class="screen-eq0-title">web як мае быць</div>
			</div>

			<div class="galery">
				<div class="galery_table">
					<div class="galery_cell">
						<div class="galery_content">
							<div class="galery_bigImage"><img src="images/work/001_x_01.jpg"></div>
							<div class="galery_smallImages">
								<img class="galery_smallImages_selected" src="images/work/001_s_01.jpg">
								<img src="images/work/001_s_02.jpg">
							</div>
							<div class="galery-buttonClose"></div>
						</div>
					</div>
				</div>
				<div class="galery_bg"></div>
			</div>

		</div>

		<div class="background">
			<img src="./images/background.jpg" data-width="1280" data-height="758">
		</div>
